

body{
    /*background-color: #EEF1F4 !important;*/

}

.navbar{
    /*background-color: #0D50B0;*/

}


.footer{
    /*background-color: #d6d9e3;*/

}

.bubble{
    /*min-height: calc(100vh - 700px);*/
}

.linkler{
    text-decoration: none !important;
    color: black !important;
    text-decoration-color: black !important;

}

.linkler:hover{
    color: black;
}



@media screen and (max-width: 986px) {
    .navbar{ background-color: #0D50B0; width: 100%;position: absolute !important;z-index: 99;float: right;right: 0;
}
    .login-list{
        padding-left: 0;
    }
    .srcbox{
        margin-bottom: 3px;
    }
    .notification{
        margin-top:60px;
    }
    .mobile-mt{
        margin-top: 45px;
    }
}

.bottomfooter{
    /*background-color: #0D50B0 !important;*/
    font-size: 15px;
    text-align: center;
    color: white;
}

.midlefooter{
    display: flex;
    justify-content: center;
}

.footerheight{
    /*height: 215px;*/
}

.footerlist{
    list-style: none;

}

.socialmedialist{
    display: inline;
    list-style: none;
    margin-left: 25px;
    justify-content: center;

}

h2{
    color: darkgoldenrod;
}
.footertext{
    color: white;
}

.freepage{
    min-height: 57vh;
}

.details{
    -webkit-box-shadow: 1px 1px 8px 1px #bec4cd !important;
    width: 85%;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
}

.login-list{
display: flex;
list-style: none;
margin: auto 0 auto auto;

}

.insidedetails{
    font-weight: normal;
}

.changepasswordpage{
    min-height: 57vh;
}